{{!
@param IRI   graph-iri
@param Array nodes
}}

PREFIX :     <https://w3id.org/lodsight/rdf-path#>

CONSTRUCT {
  ?node ?p ?o .
}
WHERE {
  GRAPH <{{{graph-iri}}}> {
    VALUES ?node {
      {{#nodes}}
      <{{{.}}}>
      {{/nodes}}
    }
    OPTIONAL {
      ?node ?p ?o .
    }
  }
}
