{{!
@param IRI   graph-iri
@param Array path
@param Array vars
@param int   limit
}}

SELECT DISTINCT {{#vars}} ?{{.}} {{/vars}}
WHERE {
  GRAPH <{{{graph-iri}}}> {
    {{#path}}
      {{#start.first}}
      ?{{start.varname}} a <{{{start.type}}}> . 
      {{/start.first}}
      
      ?{{start.varname}} <{{{edgeProperty}}}> ?{{end.varname}} .

      {{#end.datatype}}
      FILTER sameTerm(DATATYPE(?{{end.varname}}), <{{{end.type}}}>)
      {{/end.datatype}}

      {{^end.datatype}}
      ?{{end.varname}} a <{{{end.type}}}> .
      {{/end.datatype}}
    {{/path}}
  }
}
ORDER BY RAND()
LIMIT {{limit}}
