{{!
@param IRI   graph-iri
@param Array path
@param Array vars
@param int   limit
}}

CONSTRUCT {
  {{#vars}}
    {{^datatype}}
    ?{{varname}} ?{{varname}}p ?{{varname}}o .
    {{/datatype}}
  {{/vars}}
}
WHERE {
  {
    SELECT DISTINCT {{#vars}} ?{{varname}} {{/vars}}
    WHERE {
      GRAPH <{{{graph-iri}}}> {
        {{#path}}
          {{#start.first}}
          ?{{start.varname}} a <{{{start.type}}}> . 
          {{/start.first}}
          
          ?{{start.varname}} <{{{edge}}}> ?{{end.varname}} .

          {{#end.datatype}}
          FILTER sameTerm(DATATYPE(?{{end.varname}}), <{{{end.type}}}>)
          {{/end.datatype}}

          {{^end.datatype}}
          ?{{end.varname}} a <{{{end.type}}}> .
          {{/end.datatype}}
        {{/path}}
      }
    }
    ORDER BY RAND()
    LIMIT {{limit}}
  }
  {{#vars}}
  {{^datatype}} {{! No OPTIONAL is needed for datatype vars. }}
  OPTIONAL { 
    GRAPH <{{{graph-iri}}}> {
      ?{{varname}} ?{{varname}}p ?{{varname}}o .
    }
  }
  {{/datatype}}
  {{/vars}}
}
